[submodule "lib/angular-leaflet-directive"]
	path = lib/angular-leaflet-directive
	url = git://github.com/tombatossals/angular-leaflet-directive.git
[submodule "lib/forge"]
	path = lib/forge
	url = git@github.com:digitalbazaar/forge.git
